@model SRIS.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "EditCase";
    Layout = "~/Views/Shared/_BlankPage.cshtml";
}

<h2>EditCase</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>RegisterModel</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.RegisterInfoId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RegisterInfoId)
                @Html.ValidationMessageFor(model => model.RegisterInfoId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CaseCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CaseCode)
                @Html.ValidationMessageFor(model => model.CaseCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BeSeekerName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BeSeekerName)
                @Html.ValidationMessageFor(model => model.BeSeekerName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GetTaskDateTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GetTaskDateTime)
                @Html.ValidationMessageFor(model => model.GetTaskDateTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RegisterLink, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RegisterLink)
                @Html.ValidationMessageFor(model => model.RegisterLink)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PostLink, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PostLink)
                @Html.ValidationMessageFor(model => model.PostLink)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DNAState, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DNAState)
                @Html.ValidationMessageFor(model => model.DNAState)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsReturnTask, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsReturnTask)
                @Html.ValidationMessageFor(model => model.IsReturnTask)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReturnTaskDateTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReturnTaskDateTime)
                @Html.ValidationMessageFor(model => model.ReturnTaskDateTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReturnReason, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReturnReason)
                @Html.ValidationMessageFor(model => model.ReturnReason)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsBBHJ, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsBBHJ)
                @Html.ValidationMessageFor(model => model.IsBBHJ)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Remarks)
                @Html.ValidationMessageFor(model => model.Remarks)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
